@using Microsoft.EntityFrameworkCore.Infrastructure
@model MVCEngiBeering.ViewModels.BBMachineViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<table>
    <tr>
        <td>
            <h4>
            @Html.DisplayNameFor(model => model.id)
            </h4>
        </td>
        <td>
            <h4>
            @Html.DisplayNameFor(model => model.uniqueid)
            </h4>
        </td>
        <td>
            <h4>
            @Html.DisplayNameFor(model => model.currentstate)
            </h4>
        </td>
        <td>
            <h4>
            @Html.DisplayNameFor(model => model.currentspeed)
            </h4>
        </td>
        <td>
            <h4>
            @Html.DisplayNameFor(model => model.currentamount)
            </h4>
        </td>
        <td>
            <h4>
            @Html.DisplayNameFor(model => model.currentproduct)
            </h4>
        </td>
    </tr>
    <tr>
        

        <td>
            @Html.DisplayFor(model => model.id)
        </td>
        <td>
            @Html.DisplayFor(model => model.uniqueid)
        </td>
        <td>
            @Html.DisplayFor(model => model.currentstate.name)
        </td>
        <td>
            @Html.DisplayFor(model => model.currentspeed)
        </td>
        <td>
            @Html.DisplayFor(model => model.currentamount)
        </td>
        <td>
            @Html.DisplayFor(model => model.currentproduct)
        </td>
    </tr>
    <form method="post">
        <input type="hidden" value="@Html.DisplayFor(model => model.id)" name="id"/>
        <tr>
            <td colspan="1">
                <h4>Speed:</h4>
                <input type="number" name="machSpeedValue"/>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <h4>Product:</h4>
                <select name="productID">
                    <option value=0>Pilsner</option>
                    <option value=1>Wheat</option>
                    <option value=2>IPA</option>
                    <option value=3>Stout</option>
                    <option value=4>Ale</option>
                    <option value=5>Alcohol Free</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <h4>Amount:</h4>
                <input type="number" name="amount"/>
            </td>
        </tr>
        <tr>
            <td style="width:20%">
                <button asp-controller="Machine" asp-action="SendCntrlCmd" name="cntrlCmdValue" value="1">Reset</button>
            </td>
            <td style="width:20%">
                <button asp-controller="Machine" asp-action="SendCntrlCmd" name="cntrlCmdValue" value="2">Start</button>
            </td>
            <td style="width:20%">
                <button asp-controller="Machine" asp-action="SendCntrlCmd" name="cntrlCmdValue" value="3">Stop</button>
            </td>
            <td style="width:20%">
                <button asp-controller="Machine" asp-action="SendCntrlCmd" name="cntrlCmdValue" value="4">Abort</button>
            </td>
            <td style="width:20%">
                <button asp-controller="Machine" asp-action="SendCntrlCmd" name="cntrlCmdValue" value="5">Clear</button>
            </td>
            <td style="width:20%">
                <button>Watch current batch</button>
            </td>
        </tr>
    </form>
</table>



