@using Microsoft.EntityFrameworkCore.Infrastructure
@model MVCEngiBeering.Models.BBMachine

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@Html.DisplayFor(model => model.id)
@Html.DisplayFor(model => model.uniqueid)
@Html.DisplayFor(model => model.currentstate)
@Html.DisplayFor(model => model.currentspeed)
@Html.DisplayFor(model => model.currentamount)
@Html.DisplayFor(model => model.currentproduct)



